<%- include("../includes/header.ejs", {title: "Update " + account.account_id}); %>

<h1>Update <%= account.account_id%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Account: <input id="account_id" name="account_id" type="text" value="<%= account.account_name%>"/>
    <br />
    <br />

    Updated Account: <input id="account_id" name="account_id" type="text" value="<%= account.account_name%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>