<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume: <input id="street" name="street" type="text" />
    <br />
    <br />
    Resume
    <br />
    <select id="resume_id" name="resume_id" multiple="multiple">
        <% for(var i=0; resume.length > i; i++ ) { %>
        <option value="<%= resume[i].resume_id %>"><%= resume[i].resume_name + ', ' + resume[i].resume_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#resume_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>