<%- include("../includes/header.ejs", {title: "Update " + resume.resume_id}); %>

<h1>Update <%= resume.resume_id%></h1>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume: <input id="resume_id" name="resume_id" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />

    Updated Resume: <input id="resume_id" name="resume_id" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>