<%- include("../includes/header.ejs", {title:"Resumes"}); %>
<h1>Resumes</h1>
<ul>
    <li>Resume:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].resume_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>